.relatedSection {
  width: 95%;
  border-radius: var(--br-16);
  padding: 2rem !important;
  margin: 0 auto 3rem auto;
}

.sectionTitle {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--txt-50);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary-color-600);
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2.5rem;
  padding-top: 1rem;
}
