.relatedSection {
  width: 95vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-800);
  border-radius: var(--br-16);
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
  padding: 1.5rem;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.gameCard {
  width: 16vw;
  height: auto;
  background-color: var(--bg-800);
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: border-color 0.3s, transform 0.3s;
  border: 1px solid var(--primary-color-600);
  margin-bottom: 2rem;

  &:hover {
    border-color: var(--primary-color-600);
    transform: translateY(-4px);

    .overlay {
      opacity: 1;
    }
  }
}

.gameImage {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  box-shadow: var(--shadow-xl-inner) !important;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(16, 16, 24, 0.65);
  opacity: 0;
  transition: opacity 0.3s;
}

.viewMoreButton {
  color: #fff;
  background: none;
  border: 2px solid #fff;
  padding: 0.6rem 1.2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  text-transform: uppercase;  
  transition: all 0.3s;

  &:hover {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
  }
}

.cardBody {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gameTitle {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 0.4rem;
}

.ratingInfo {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.starIcon {
  color: var(--accent-yellow);
  margin-right: 0.25rem;
}

.priceContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamePrice {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.discountBadge {
  font-size: 0.7rem;
  font-weight: 700;
  background-color: #ef4444;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
}
